.view-all {
  height: 16px;
  position: relative;
  width: 51px;
}

.view-all .text-wrapper-6 {
  color: #084943;
  font-family: "Roboto", Helvetica;
  font-size: 14.3px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.view-all:hover .text-wrapper-6 {
  font-weight: 700;
  left: -1px;
}
