.div-wrapper {
  background-color: #084943;
  border-radius: 28.51px;
  height: 28px;
  width: 154px;
}

.div-wrapper .overlap-group {
  height: 17px;
  left: 22px;
  position: relative;
  top: 5px;
  width: 123px;
}

.div-wrapper .div {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 11.1px;
  font-weight: 600;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 109px;
}

.div-wrapper .img {
  height: 16px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 16px;
}
