.component-50 {
  height: 81px;
  width: 1054px;
}

.component-50 .overlap {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e9ed1d494693bef8e1156e/releases/64e9ed5ff1b61250aab16d9f/img/group-39567-2.png);
  background-size: 100% 100%;
  height: 124px;
  left: -25px;
  position: relative;
  top: -14px;
  width: 1104px;
}

.component-50 .group {
  height: 81px;
  left: 98px;
  position: absolute;
  top: 14px;
  width: 920px;
}

.component-50 .image {
  height: 81px;
  left: 399px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 82px;
}

.component-50 .group-2 {
  height: 23px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 88px;
}

.component-50 .text-wrapper-3 {
  color: #084943;
  font-family: "Poppins", Helvetica;
  font-size: 15.5px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 56px;
}

.component-50 .vector-2 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.component-50 .group-3 {
  height: 23px;
  left: 548px;
  position: absolute;
  top: 26px;
  width: 108px;
}

.component-50 .text-wrapper-4 {
  color: #084943;
  font-family: "Poppins", Helvetica;
  font-size: 15.5px;
  font-weight: 600;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 77px;
}

.component-50 .vector-3 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 19px;
}
